.meus-filmes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 0;
}

ul li{
    padding: 0;
    list-style: none;
    width: 600px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: solid var(--siteColor) 3px;
}

ul li .details{
    display: flex;
    align-items: center;
}

span{
    font-size: 23px;
}

button{
    margin-left: 10px;
    cursor: pointer;
    border: 0;
    background: 0;
}

ul li a{
    text-decoration: none;
    color: var(--siteColor);
}

@media screen and (max-width: 650px){
    .meus-filmes{
        width: 95%;
        align-items: baseline;
    }
    h1{
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    ul{
        padding: 10px;
    }
    ul li{
        flex-direction: column;
        width: 95%;
        align-items: baseline;
        margin-bottom: 35px;
    }
}

