.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lista-filmes{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lista-filmes article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
}

.lista-filmes img{
    width: 350px;
    max-height: 450px;
}

.lista-filmes article a{
    text-decoration: none;
    color: #FFF;
    background-color: var(--siteColor);
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px; 
}